<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accordion</title>
</head>
<body>
  <div id="wrap">
    <div id="container">
      <header id="header">

      </header>
      <nav class="nav">
        <ul class="nav-list">
          <li>
            <a href="#">Popup</a>
          </li>
          <li class="active">
            <a href="#">Accordion</a>
          </li>
        </ul>
      </nav>
      <div class="contents">
        <div class="contents-inner">
          <div class="ui-accordion">
            <div class="accordion-header-info">
              <strong class="title">아코티언 타이틀1</strong>
              <i class="ico-arr" aria-hidden="true"></i>
            </div>
            <div class="accordion-contents-info">
              <div class="accordion-contents-inner">
                아코디언 내용...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>